<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE configuration PUBLIC
"-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

<!--  Alias 설정  -->
	 <typeAliases>
		<typeAlias type="com.kh.gonggan.post.model.vo.Post" alias="post" />
		<typeAlias type="com.kh.gonggan.comment.model.vo.Comment" alias="comment" />
		<typeAlias type="com.kh.gonggan.member.model.vo.Member" alias="member" />
		<typeAlias type="com.kh.gonggan.message.model.vo.Message" alias="message" />
		<typeAlias type="com.kh.gonggan.good.model.vo.Good" alias="good" />
		<typeAlias type="com.kh.gonggan.blog.model.vo.Blog" alias="blog" />
		<typeAlias type="com.kh.gonggan.movie.model.vo.Movie" alias="movie" />
      	<typeAlias type="com.kh.gonggan.diary.model.vo.Diary" alias="diary"   />
      	<typeAlias type="com.kh.gonggan.music.model.vo.Music" alias="music"/>
      	<typeAlias type="com.kh.gonggan.news.model.vo.News" alias="news"/>
      	<typeAlias type="com.kh.gonggan.review.model.vo.Review" alias="review"/>
      	<typeAlias type="com.kh.gonggan.neighbor.model.vo.Neighbor" alias="neighbor"/>
      	<typeAlias type="com.kh.gonggan.location.model.vo.Wlocation" alias="wlocation"/>
      	<!-- <typeAlias type="com.kh.gonggan.book.model.vo.Book" alias="book"/>
         <typeAlias type="com.kh.gonggan.place.model.vo.Place" alias="place"/>
         <typeAlias type="com.kh.gonggan.free.model.vo.Free" alias="free"/> -->
	</typeAliases>

 <!-- Sql Mapper 설정 -->
	 <mappers>
	 	<mapper resource="mappers/post-mapper.xml" />
	 	<mapper resource="mappers/comment-mapper.xml" />
	 	<mapper resource="mappers/member-mapper.xml" />
	 	<mapper resource="mappers/message-mapper.xml" />
	 	<mapper resource="mappers/good-mapper.xml" />
	 	<mapper resource="mappers/blog-mapper.xml" />
	 	<mapper resource="mappers/movie-mapper.xml"/>
	 	<mapper resource="mappers/diary-mapper.xml"/>
		<mapper resource="mappers/music-mapper.xml"/>
		<mapper resource="mappers/news-mapper.xml"/>
		<mapper resource="mappers/review-mapper.xml"/>
       <mapper resource="mappers/neighbor-mapper.xml"/>
       <mapper resource="mappers/wlocation-mapper.xml"/>
       <!-- <mapper resource="mappers/book-mapper.xml"/>
       <mapper resource="mappers/place-mapper.xml"/>
       <mapper resource="mappers/free-mapper.xml"/> -->
	 </mappers>
	 
</configuration>
