<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="blogmapper">

	<resultMap type="blog" id="blogResult">
		<result property="title" column="title" />
		<result property="writer_id" column="writer_id" />
		<result property="contents" column="contents" />
		<result property="background" column="background" />
		<result property="color" column="color" />
		<result property="languages" column="languages" />
		<result property="blog_open_yn" column="blog_open_yn" />
		<result property="blog_id" column="blog_id" />
	</resultMap>

	<insert id="binsert" parameterType="blog">
		insert into blog values(
		#{title}, #{writer_id}, #{contents}, #{background}, #{color},
		#{languages}, #{blog_open_yn}, #{blog_id})
	</insert>
	<select id="bselect" resultMap="blogResult" parameterType="String">
		select * from blog where writer_id = #{writer_id}
	</select>

	<select id="selectBlogId" resultMap="blogResult" parameterType="String">
		select blog_id from blog
		where writer_id = #{writer_id}
	</select>
	
	<insert id="bvisit" parameterType="Map">
		insert into visitor values(#{visitor_id}, to_number(#{blog_id}), default)
	</insert>
	
	
</mapper>
