<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="diarymapper">
	<resultMap type="diary" id="diaryResult">
		<id property="diary_num" column="diary_num"/>
		<result property="post_id" column="post_id"/>
		<result property="diary_content" column="diary_content"/>
		<result property="diary_title" column="diary_title"/>
		<result property="bg_image" column="bg_image"/>
	</resultMap>
	
	<insert id="dinsert" parameterType="Map">
		insert into diary values(#{post_id},nvl((select max(diary_num) from diary),0) + 1,#{content},#{diary_title},
		#{bg}
		)
	</insert>
	
	<select id="diarylist" resultMap="diaryResult" parameterType="Map">
	
	select rownum, subquery.* from (select * from diary
				order by 5 desc) subquery "
				where rownum between #{rownum} and #{rownum2}
	</select>
	<select id="diarylist_index2" resultMap="diaryResult">
		SELECT * FROM ( SELECT ROWNUM AS RNUM,
		POST_ID, DIARY_NUM, DIARY_CONTENT, bg_image
		FROM (SELECT * FROM DIARY ORDER BY POST_ID DESC)  )
		<![CDATA[ WHERE RNUM<=8]]>
	</select>
	
   <select id="diarylist_myhome" parameterType="String" resultMap="diaryResult">
	SELECT * FROM post right join diary using (post_id) where writer_id = #{writer_id}
   </select>
	
	<select id="diarydetail" resultMap="diaryResult" parameterType="int">
	select * from diary where post_id = #{postId}
	</select>
	
</mapper>