<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="freemapper">
	<resultMap type="free" id="freeResult">
		<id property="free_num" column="free_num"/>
		<result property="post_id" column="post_id"/>
		<result property="free_content" column="free_content"/>
	</resultMap>

	<insert id="finsert" parameterType="Map">
		insert into free values(#{post_id},nvl((select max(free_num) from free), 0) + 1,#{content})
	</insert>
	
	<select id="freelist" resultMap="freeResult" parameterType="Map">
	
	select rownum, subquery.* from (select * from free
				order by 5 desc) subquery "
				where rownum between #{rownum} and #{rownum2}
	</select>
	
	<select id="freelist_index2" resultMap="freeResult">
		SELECT * FROM ( SELECT ROWNUM AS RNUM, POST_ID, free_NUM, free_CONTENT
		FROM (SELECT * FROM free ORDER BY POST_ID DESC)  )<![CDATA[ WHERE RNUM<=8]]>
	</select>
	
	
	<select id="freelist_myhome" parameterType="String" resultMap="freeResult">
	select * from post right join free using (post_id) where writer_id = #{writer_id}
	</select>
	
	<select id="freedetail" resultMap="freeResult" parameterType="int">
	select * from free where post_id = #{postId}
	</select>
	
	
</mapper>