<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="goodmapper">

	<resultMap type="good" id="goodResult">
		<result property="post_id" column="post_id" />
		<result property="member_id" column="member_id" />
		<result property="good_check" column="good_check" />
	</resultMap>
	
	<update id="acheck" parameterType="String">
	update good set good_check = 'Y'
	where post_id in (select post_id from post where writer_id = #{loginUser})
	</update>
	
	
	<select id="alarmnum" parameterType="int" resultType="int">
	select seq_alarm.nextval from dual
	</select>
	<insert id="ginsert" parameterType="Map">
	insert into alarm values (#{alarm_num}, 'G',#{postId} , null)
	</insert>
	
	<insert id="ginsert2" parameterType="Map">
	insert into good values(#{postId},#{memberId},'N',#{alarm_num})
	</insert>
	
	<update id="ginsert3" parameterType="Map">
		update post set good_count=(GOOD_COUNT+1) where post_id = #{postId}
	</update>
	
	<select id="gcheck" parameterType="good" resultMap="goodResult">
	select * from good where post_id = #{post_id} and member_id = #{member_id}
	</select>
	<select id="gcheckalram" parameterType="String" resultMap="goodResult">
	select * from good where post_id in (select post_id from post where writer_id = #{member_id})
	and good_check = 'N'
	</select>
	<select id="goodMyList" parameterType="String" resultMap="goodResult">
	select *  from good where  post_id in (select post_id from post where writer_id= #{writer_id} and good_count > 0) 
	</select>
	
	<delete id="gdelete" parameterType="Map">
	delete from alarm 
	where post_id = #{postId} and
	alarm_num = (select alarm_num from good
	where post_id = #{postId} and member_id = #{memberId})
	</delete>
	
	<delete id="gdelete2" parameterType="Map">
	delete from good 
	where post_id = #{postId} and member_id = #{memberId}
	</delete>
	<update id="gdelete3" parameterType="Map">
		update post set good_count=(GOOD_COUNT-1) where post_id = #{postId}
	</update>
	
	<select id="gcount" parameterType="int" resultType="int">
	select count(*) from good where post_id=#{postId}

	</select>
	
	
	<select id="glist" parameterType="int" resultMap="goodResult">
	select * from good where post_id=#{postId}
	</select>
	
	<select id="gsearch" parameterType="Map" resultMap="goodResult">
	select * from good
	where post_id = #{post_id}
	and member_id like '%'||#{member_id}||'%'
	</select>

</mapper>
