<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="membermapper">
	<resultMap id="memberResult" type="member">
		<id property="member_id" column="member_id" />
		<result property="member_pw" column="member_pw" />
		<result property="member_name" column="member_name" />
		<result property="email" column="email" />
		<result property="profile" column="profile" />
		<result property="member_gender" column="member_gender"/>
		<result property="member_birth" column="member_birth"/>
		<result property="member_phone"	column="member_phone"/>
		<result property="member_naver_id"	column="member_naver_id"/>
		<result property="member_kakao_id"	column="member_kakao_id"/>
		<result property="member_facebook_id"	column="member_facebook_id"/>
	</resultMap>
	
	<resultMap id="memberNameResult" type="member">
		<id property="member_id" column="sender" />
	</resultMap>
	
	<!-- 
	<resultMap type="visitor" id="blogResult">
		<result property="title" column="title" />
		<result property="writer_id" column="writer_id" />
		<result property="contents" column="contents" />
		<result property="background" column="background" />
		<result property="color" column="color" />
		<result property="languages" column="languages" />
		<result property="blog_open_yn" column="blog_open_yn" />
		<result property="blog_id" column="blog_id" />
	</resultMap>
 -->
	<select id="loginSelect" parameterType="member"  resultMap="memberResult">
		SELECT * FROM MEMBER
		WHERE MEMBER_ID = #{member_id} AND MEMBER_PW = #{member_pw}
	</select>
	<select id="joinemailcheck" parameterType="member"  resultMap="memberResult">
		SELECT * FROM MEMBER
		WHERE email =#{email}
	</select>
	<select id="joinidcheck" parameterType="member"  resultMap="memberResult">
		SELECT * FROM MEMBER
		WHERE MEMBER_ID = #{member_id} 
	</select>
	
	<select id="mlist">
	</select>
	
	<select id="selectIdbyEmail" parameterType="String" resultType="String">
	SELECT MEMBER_ID FROM MEMBER WHERE EMAIL = #{email}
	</select>
	
	<select id="selectPw" parameterType="Map" resultMap="memberResult">
	select MEMBER_PW FROM MEMBER WHERE MEMBER_ID = #{memberId} and EMAIL = #{email}
	</select>
	
	<insert id="minsert" parameterType="member">
   insert into member values( #{member_id},
   #{member_pw},#{member_name},#{email},#{profile},
   #{member_gender},#{member_birth},#{member_phone},null,null,null)
   </insert>
	
	<update id="mupdate" parameterType="member">
	UPDATE MEMBER SET EMAIL=#{email} WHERE MEMBER_ID = #{member_id} AND MEMBER_PW=#{member_pw}
	</update>
	
	<delete id="mdelete" parameterType="String">
    delete from member where member_id = #{memberId}  
   </delete>
	
	<update id="naccept" parameterType="Map">
	update neighbor set alram_yn = 'Y', check_yn = 'Y'
	where receiver = #{memberId} and sender = #{memberId2}
	</update>
	
	<update id="nreject" parameterType="Map">
	delete from neighbor
	where receiver = #{memberId} and sender = #{memberId2}
	</update>
	
	<select id="ncheck" parameterType="String" resultMap="memberNameResult">
	select sender from neighbor
	where receiver = #{memberId}
	and alram_yn = 'N'
	</select>
	
	<select id="selectVisitorList" parameterType="int" resultMap="memberResult">
		select * from member
		where member_id in (select visitor_id from visitor
		where blog_id = #{blog_id} AND TO_CHAR(VISITED_DATE,'yy/mm/dd') =
		TO_CHAR(sysdate,'yy/mm/dd'))
	</select><!-- 오늘 방문자 수 조회 -->

	<select id="selectNeigborVisitorList" parameterType="Map"
		resultMap="memberResult">
		select * from member
		where member_id in (select visitor_id
		from visitor where blog_id = to_number(#{blog_id}) and
		TO_CHAR(VISITED_DATE,'yy/mm/dd') = TO_CHAR(sysdate,'yy/mm/dd'))
		and
		(member_id in
		(select receiver from NEIGHBOR
		where sender = #{writer_id}
		and CHECK_YN='Y')
		or
		member_id in(select sender from NEIGHBOR
		where
		receiver = #{writer_id} and CHECK_YN='Y'))
	</select><!-- 이웃 방문자 -->

	<select id="selectMonNeigborVisitorList" parameterType="Map"
		resultMap="memberResult">
		select * from member
		where member_id in (select visitor_id
		from visitor where blog_id = to_number(#{blog_id}) and
		extract(month
		from VISITED_DATE) = extract(month from sysdate))
		and (member_id in
		(select receiver from NEIGHBOR
		where sender = #{writer_id} and
		CHECK_YN='Y')
		or
		member_id in(select sender from NEIGHBOR
		where receiver
		= #{writer_id} and CHECK_YN='Y'))
	</select><!-- 한달 방문 수 -->

	<select id="selectMonNeiList" parameterType="String"
		resultMap="memberResult">

		select * from member
		where member_id in
		(select receiver from NEIGHBOR
		where
		sender = #{writer_id} and CHECK_YN='Y' and extract(month from accept_date
		)= extract(month from sysdate))
		or
		member_id in(select sender from
		NEIGHBOR
		where receiver =#{writer_id} and CHECK_YN='Y' and extract(month	from accept_date )= extract(month from sysdate))
	</select><!-- 이번달 추가 된 이웃 -->
	
	<select id="msgmember" parameterType="member"  resultMap="memberResult">
      select distinct member_id from member
      where member_id in (select sender from message where receiver = #{writer_id})
      or member_id in (select receiver from message where sender = #{writer_id})
   </select>
   
   <select id="neighborBlogList" resultMap="memberResult" parameterType="String">
      select * from member where member_id in(   SELECT sender FROM NEIGHBOR
      WHERE CHECK_YN='Y' AND RECEIVER =#{member_id} ) or member_id  in(   SELECT receiver FROM NEIGHBOR
      WHERE CHECK_YN='Y' AND SENDER = #{member_id})
   </select>
		
	<select id="nsearch" parameterType="Map" resultMap="memberResult">
	select * from member where member_id in( SELECT sender FROM NEIGHBOR
      WHERE CHECK_YN='Y' AND RECEIVER =#{member_id} and sender like '%'||#{member_id2}||'%' )
      or member_id  in(   SELECT receiver FROM NEIGHBOR
      WHERE CHECK_YN='Y' AND SENDER = #{member_id} and receiver like '%'||#{member_id2}||'%' )
	</select>
	
	<select id="naverIdCheck" parameterType="member" resultMap="memberResult">
      SELECT * FROM MEMBER
      WHERE MEMBER_NAVER_ID = #{member_naver_id}
   </select>
   
   <select id="kakaoIdCheck" parameterType="member" resultMap="memberResult">
      SELECT * FROM MEMBER
      WHERE MEMBER_KAKAO_ID = #{member_kakao_id}
   </select>
   
   <select id="facebookIdCheck" parameterType="member" resultMap="memberResult">
      SELECT * FROM MEMBER
      WHERE MEMBER_FACEBOOK_ID = #{member_facebook_id}
   </select>
   
   <select id="naverConnect" parameterType="member">
      update member set member_naver_id = #{member_naver_id} where member_id = #{member_id} and member_pw = #{member_pw}
   </select>
   
   <select id="kakaoConnect" parameterType="member">
      update member set member_kakao_id = #{member_kakao_id} where member_id = #{member_id} and member_pw = #{member_pw}
   </select>
   <select id="facebookConnect" parameterType="member">
      update member set member_facebook_id = #{member_facebook_id} where member_id = #{member_id} and member_pw = #{member_pw}
   </select>
</mapper>