<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="musicmapper">
	<resultMap type="music" id="musicResult">
		<id property="music_num" column="music_num"/>
		<result property="post_id" column="post_id"/>
		<result property="music_info" column="music_info"/>
		<result property="music_title" column="music_title"/>
		<result property="singer" column="singer"/>
		<result property="music_content" column="music_content"/>
	</resultMap>
	
	<select id="musiclist" resultMap="musicResult" parameterType="Map">
	select rownum, subquery.* from (select * from music
				order by 5 desc) subquery "
				where rownum between #{rownum} and #{rownum2}
	</select>
	<select id="musiclist_index2" resultMap="musicResult">
		SELECT * FROM MUSIC ORDER BY POST_ID DESC	
	</select>
	
   <select id="musiclist_myhome" parameterType="String" resultMap="musicResult">
	SELECT * FROM post right join music using (post_id) where writer_id = #{writer_id}
   </select>
   
	<select id="musicdetail" resultMap="musicResult" parameterType="int">
	select * from music where post_id = #{postId}
	</select>
	
	<insert id="minsert" parameterType="Map">
      insert into music values(#{post_id}, nvl((select max(music_num) from music), 0) + 1, #{content}, null, null, null)
   </insert>
	
</mapper>